/* Fundo do painel */
Pane {
    -fx-background-color: #f4f4f4;
    -fx-border-color: #d3d3d3;
    -fx-border-radius: 10;
    -fx-padding: 10;
}

/* Estilização dos rótulos */
.label {
    -fx-font-size: 12px;  /* Reduzindo o tamanho da fonte */
    -fx-font-weight: normal;
    -fx-text-fill: #333;
}

/* Campos de texto */
.text-field {
    -fx-background-color: white;
    -fx-border-color: #bbb;
    -fx-border-radius: 5;
    -fx-padding: 3;
    -fx-font-size: 12px;  /* Fonte menor */
}

/* Botão de confirmação */
#btnConfirmar {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 5;
    -fx-padding: 3;
}

#btnConfirmar:hover {
    -fx-background-color: #45a049;
}
